[user]
	name = Syed Shams Islam
	email = isyed4916@gmail.com
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[init]
	defaultBranch = main
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
	amend = commit --amend
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	slog = log --oneline --decorate --color
	df = diff
	dc = diff --cached
	rb = rebase
	type = cat-file -t
	dump = cat-file -p
	cp = cherry-pick
	ri = rebase -i
[color]
	ui = auto
[help]
	autocorrect = 1
[interactive]
	diffFilter = diff-so-fancy --patch
[pull]
	rebase = true
